#service .container {
    text-align: center;
}
#service {
    border-bottom: 1px solid rgb(206, 206, 206);
    padding: 80px 0 120px;
}

.service_box {
    text-align: left;
    gap: 20px;
    display: flex;
    margin: 0px auto;
    line-height: 24px;
}
.service_box i {
    margin-top: 5px;
    color: #32dbc6;
    font-size: 34px;
}
.service_big_box {
    display: flex;
    gap: 80px;
}
.service_title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 50px;
}
.service_learn_p {
    color: #32dbc6;
}