.container_service {
    margin: 200px 100px 100px;
    text-align: center;
}
.service {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.service_box {
    text-align: left;
    gap: 20px;
    display: flex;
    margin: 0px auto;
    line-height: 24px;
}
.service_box i {
    margin-top: 22px;
    color: #32dbc6;
}
.service_big_box {
    display: flex;
    gap: 50px;
}
.service_title {
    font-size: 50px;
}
.service_learn_p {
    color: #32dbc6;
}