.hero {
    background-image: url(./hero_1.jpg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    height: 700px;
}

#hero {
    padding-top: 104px;
}

.hero_text {
    text-align: center;
    padding-top: 280px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.466);
    height: 100%;
}

.hero_text_title {
    font-size: 45px;
}

.hero_text_p {
    font-size: 20px;
}

.hero_text_btn {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #32dbc6;
    color: black;
    transition: all .25s;
}

.hero_text_btn:hover {
    background-color: #1dbba8;
    color: white;
}