#about{
    padding: 80px 0;
}

.main_box {
    font-size: 20px;
    line-height: 26px;
}
.main_box h1 {
    color: black;
    font-size: 48px;
}

.about_all {
    display: flex;
    gap: 100px;
    line-height: 24px;
    font-size: 18px;
}

.about_all p {
    color: rgb(108, 108, 108);
}

.about_all i {
    color: rgb(108, 108, 108);
}

.about_all h5 {
    color: rgb(108, 108, 108);
    margin-top: 15px;
}

.about_mini_box {
    display: flex;
    line-height: 24px;
    margin-top: 50px;
}