#nav span {
    color: #32dbc6;
}

.absolute {
    width: 100%;
    position: absolute;
}

.sticky {
    position: fixed;
    background-color: #fff;
    animation: slideDown 0.3s linear;
    transition: 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 100%;
}

h1 {
    color: #4d4d4d;
}

ul li {
    list-style: none;
    padding: 1rem;
}

ul li a {
    color: #4d4d4d;
    text-decoration: none;
    transition: 0.3s ease;
}

ul li a:hover {
    color: #32dbc6;
}