#nav span {
    color: #32dbc6;
}

h1 {
    color: #4d4d4d;
}

ul li {
    list-style: none;
    padding: 1rem;
}

ul li a {
    color: #4d4d4d;
    text-decoration: none;
    transition: 0.3s ease;
}

ul li a:hover {
    color: #32dbc6;
}