#works .col-3 {
    height: 500px;
    width: 410px;
    text-align: center;
    align-items: center;
    padding: 0;
    transition: 0.5s ease-in;
}

#works .row .col-3 {
    width: 30.3%;
}

#works a {
    display: block;
    height: 100%;
    text-decoration: none;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-in;
}

#works a:hover {
    background-size: 130%;
}

#works .box {
    /* width: 100%; */
    margin: 0 20px;
}

#works a:hover .text {
    background-color: #000000bd;
    padding-top: 220px;
    visibility: visible;
}

#works .text {
    width: 100%;
    height: 100%;
    padding-top: 240px;
    transition: 0.5s ease-in;
    visibility: hidden;
}

#works .text h2 {
    color: #fff;
    font-size: 24px;
}

#works .text h4 {
    color: #999;
    font-size: 13px;
    letter-spacing: 3px;
}

#works h1 {
    font-size: 48px;
    padding-bottom: 20px;
    margin: 0;
}

#works p {
    font-size: 20px;
    color: #4d4d4d;
    line-height: 34px;
}