#blog {
    padding: 80px 0;
}
.blog_title {
    font-size: 40px;
    text-align: center;
}
.blog_box {
    width: 320px;
    margin-top: 50px;
}
.all_box_blog {
    display: flex;
    justify-content: space-between;
}

.all_box_blog img {
    margin: 0 0 30px ;
}
